@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*::selection {
    color: #fbeaeb;
    background-color: rgb(47 60 126 / 65%);
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        main {
            .area {
                display: flex;
            }
        }
    }
    button {
        outline: none;
        border: none;
    }
}
